<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Quotidiom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">About <span class="sr-only"></span></a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/searchword" method="POST">
            <input class="form-control mr-sm-2" type="text" placeholder="Search for a word" aria-label="Search" name="wordtosearch">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>



  <div class="row mt-5">
    <div class="col-3">
        <div class="card card-body" style="width: 18rem;">
            <img class="card-img-top" src="images/word_of_the_day.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Word of the day!</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Welcome to Quotidiom</h1>
                <h5>Improve your vocabulary by learning new word each day!</h5>
            </div>
        </div>
    </div>

    <div class="col-3">
        <%- include('register') %>
    </div>

  </div>

</body>
</html>