<%- include("header") %>


<!-- Slider Start -->
<section class="banner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Learn, Test, Grow</span>
					<h1 class="mb-3 mt-3">Improve your vocabulary each day</h1>
					
					<p class="mb-4 pr-5" style="text-emphasis-color: black;">Subscribe to Quotidiom and learn new words everyday. Mark words which you have already learnt and test your vocabulary.</p>
					<div class="btn-container ">
						<a href="/login" class="btn btn-main-2 btn-icon btn-round-full">Login <i class="icofont-simple-right ml-2  "></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<%- include("ThreeCards") %>




<!-- footer Start -->
<%- include("footer") %>

   

    
   