<%- include("header") %>

<section>
	<div class="container">
		<div class="row">
            <div class="mt-5 mb-lg-5 col-4">
                <a href="/dashboard" class="btn btn-main btn-round-full">Dashboard</a>
            </div>
            <div class="mt-5 mb-lg-5 col-4">
                <a href="/logout" class="btn btn-main btn-round-full">Logout</a>
            </div>
            <div class="mt-5 mb-lg-5 col-4">
                <a href="/newwords" class="btn btn-main btn-round-full">Learn</a>
            </div>
		</div>
	</div>
</section>

<section class="features" style="margin-top:20px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-book-alt"></i>
						</div>
						<h4 class="mb-3">Knowledge Check 1</h4>
						<a href="/knowledgeCheck1" class="btn btn-main btn-round-full">Go</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<h4 class="mb-3">Knowledge Check 2</h4>
                        <a href="/knowledgeCheck2" class="btn btn-main btn-round-full">Go</a>
					</div>
				
					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
							<i class="icofont-ui-clock"></i>
						</div>
						<h4 class="mb-3">Knowledge Check 3</h4>
                        <a href="/knowledgeCheck3" class="btn btn-main btn-round-full">Go</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include("footer") %>